<menu>
  <ul>
    <li><a href="/home">主页</a>
    </li>
    <li><a href="#">KBO公司</a>
      <ul>
        <li><a href="/kbo_co">Kiwiberry Organics 公司</a></li>
        <li><a href="/pack_distribute">供应时间 & 包装</a></li>
        <li><a href="/organic_certification">有机认证</a>
        </li>
      </ul>
    </li>
    <li><a href="#">奇异果</a>
      <ul>
        <li><a href="/kiwi_berries">奇异果</a></li>
        <li><a href="/poppers">Passion Poppers</a></li>
        <li><a href="/annas">Aloha Annas</a></li>
      </ul>
    </li>
    <li><a href="/nutrition">营养</a>
      <ul>
        <li><a href="/nutrition">A Nutrition Powerhouse</a></li>
      </ul>
    </li>
    <li><a href="#">Berrie Education</a>
      <ul>
        <li><a href="/ripen_eat">Ripening & Eating</a></li>
        <li><a href="/consumer_education">Consumer Education</a></li>
      </ul>
    </li>
    <li><a href="/kiwi_berry_direct">奇异果直送</a>
      <ul>
        <li><a href="/kiwi_berry_direct">奇异果直送计划</a></li>
      </ul>
    </li>
    <li><a href="#">Kiwi Korners 农场</a>
      <ul>
        <li><a href="/kiwi_korners">Kiwi Korners 农场</a></li>
        <li><a href="/management_systems">管理系统</a></li>
        <li><a href="/kiwi_crew">Kiwi 员工</a></li>
        <li><a href="/kiwi_videos">The Kiwi Korners 视频</a></li>
      </ul>
    </li>
    <li><a href="/about">关于我们</a>
      <ul>
        <li><a href="/about">新闻 / 发展</a></li>
        <li><a href="/consumer_comments">消费者评论</a></li>
        <li><a href="/outreach">Education & Outreach</a></li>
        <li><a href="/articles">文章</a></li>
        <li><a href="/links">资源链接</a></li>
      </ul>
    </li>
    <li><a href="#">联系我们</a>
      <ul>
        <li><a href="/contact">联系我们</a></li>
      </ul>
    </li>
  </ul>
</menu>