<h3 class="cn">新闻动态</h3>
<h4 class="cn">新产品</h4>
<p>
	We had the pleasure of expanding our kiwi berries horizon as a value-added commodity by working with a brewery and winery establishment interested in developing new liquid libations.  we are currently working on a 2014 Kiwi Beer.  Check out their website at http://www.bullfrogbrewery.com
</p>

<p class="cn">
	我们很高兴能够拓展我们的产品线，连同酿酒公司一同开发饮料产品，我们目前在研发一款2014年奇异果啤酒，访问下面这个网站：http://www.bullfrogbrewery.com
</p>
 
<h4>Farm Aid 2013</h4>
<p>......</p>

<h4>Farm Aid 2012</h4>
<p>......</p>