<h2>Aloha Annas (阿罗哈安娜斯)</h2>
<%= link_to image_tag("anna_spur.jpg", alt: "Passion Poppers", :size => "250x165"), "#", :class => "pull-right" %>
<p>
	Our sweet Annas, short for the variety name Ananasnaya, have a bright rosy blush and are not the typical green fruit that you will find from other sources.
</p>
<p class="cn">
	我们的Annas甜果，全称叫做Ananasnaya，外表是鲜艳的玫瑰红色，而不是你在其他地方常见到的绿色。
</p>

<p>
	This is the only place that you will find them organically grown on an extended T-bar trellis system, our custom design, allowing both air and light to reach the fruit.
</p>
<p class="cn">
	这里与众不同的地方在于，它们长在我们特制的T形架子上面，能够使更多的阳光照射在果实上，并且使果实更加通风。
</p>
<p>
	Both sunlight and organic fertilizers are the heart and soul that allow this berrie to show it's true colors, and reach full sweetness and flavor potential of kiwi, pineapple, and a slight hint of mint.  The Brix (sugar) readings of our Anna fruit is 21 to 24% at consumption. Read more about Brix.
</p>
<p class="cn">
	阳光和有机肥料，这两样东西是使水果呈现红色的最关键的因素，同时能够使它们达到最高的甜度和最好的口感，Brix指数(甜度)可以达到21% - 24%.
</p>