<p>
	Our sweet Annas, short for the variety name Ananasnaya, have a bright rosy blush and are not the typical green fruit that you will find from other sources.
</p>
<p>
	This is the only place that you will find them organically grown on an extended T-bar trellis system, our custom design, allowing both air and light to reach the fruit.
</p>
<p>
	Both sunlight and organic fertilizers are the heart and soul that allow this berrie to show it's true colors, and reach full sweetness and flavor potential of kiwi, pineapple, and a slight hint of mint.  The Brix (sugar) readings of our Anna fruit is 21 to 24% at consumption. Read more about Brix.
</p>

