<h3 class="cn">关于我们的文章</h3>

<table border="0" cellpadding="0" style="border-collapse: collapse" width="101%" id="table1">
    <tbody><tr>
      <td width="359">
&nbsp;</td>
    </tr>
    <tr>
      <td width="359" height="33">

<p align="center" style="margin-left: 0px"><b><i>
<font face="Verdana" size="2" color="#006600">Food Hubs: A Producer Guide</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">

<p align="center">

<i><b>
<font color="#996600" size="2" face="Verdana">
<a href="http://www.kiwiberry.com/food_hubs.pdf"><font color="#996600">National Center for Appropriate 
Technology (NCAT)&nbsp; </font></a></font>
<a href="http://www.kiwiberry.com/food_hubs.pdf">
<font color="#996600" size="1" face="Verdana">
(See page 14)</font></a></b></i></p></td>
    </tr>
    <tr>
      <td width="359">

<p align="center">&nbsp;</p></td>
    </tr>
    <tr>
      <td width="359">

<p align="center" style="margin-left: 0px">

<b><i><font face="Verdana" size="2" color="#006600">Lancaster Farming </font></i></b>
      </p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">

<b><i>
<a href="http://www.kiwiberry.com/Kiwiberry%20Organics%20Lancaster%20Farming%20Article.pdf">
<font color="#996600" face="Verdana" size="2">Rural Ventures March 2011 Issue</font></a></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">
      <p align="center" style="margin-left: 0px">

<b><i><font face="Verdana" size="2" color="#006600">Lee Reich BlogSpot</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center"><b><i>
      <a href="http://leereich.blogspot.com/2011/06/trip-through-pennsylvania-last-week-on.html">
      <font color="#996600" face="Verdana" size="2">In Lee's Garden Now</font></a></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
		<p align="center"><b><i>
      	<a href="http://leereich.blogspot.com/2014/01/hardy-kiwifruits-better-than-fuzzies.html">
		<font color="#996600" face="Verdana" size="2">Hardy Kiwifruits, Better 
		Than the Fuzzies</font></a></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">
      <p align="center" style="margin-left: 0px"><b><i>
      <font face="Verdana" size="2" color="#006600">BostonZest</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">

<b><i>
<a href="http://www.bostonzest.com/2009/11/kiwi-berries-growing-in-popularity.html">
<font color="#996600" face="Verdana" size="2">Hardy KiwiBerries Growing in 
Popularity</font></a></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">
<p align="center" style="margin-left: 0px">
<b><i><font face="Verdana" size="2" color="#006600">Epicurious</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">
<b><i>
<font face="Verdana" size="2" color="#996600">
<a href="http://www.epicurious.com/articlesguides/blogs/editor/2008/10/candy-thats-goo.html">
<font color="#996600">Candy That's Good For You? Try&nbsp; KiwiBerries</font></a></font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">

<p align="center" style="margin-left: 0px">

<b><i><font face="Verdana" size="2" color="#006600">Gourmet Magazine</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">

<b><i><a href="articles%20gourmet%20nwsltr.htm">
<font color="#996600" face="Verdana" size="2">Online Newsletter</font></a></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">
      <p style="margin-left: 0px; margin-right: 0px" align="center">

<b><i><font face="Verdana" size="2" color="#006600">Kathy's Blog</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">

<b><i><font face="Verdana" size="2" color="#996600">
<a href="http://kblog.lunchboxbunch.com/2009/03/kiwiberry-fruit-find.html">
<font color="#996600">Healthy Happy Life</font></a></font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">
      <p align="center" style="margin-left: 0px"><b><i>
<font face="Verdana" size="2" color="#006600">Growing Magazine</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center"><b><i>
<font face="Verdana" size="2" color="#996600"><a href="growing%20article.pdf">
<font color="#996600">A Labor of Love</font></a></font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">

<p align="center" style="margin-left: 0px">

<b><i><font face="Verdana" size="2" color="#006600">The Furrow</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">
<b><i><font face="Verdana" size="2" color="#996600">
<a href="furrow%20article.pdf"><font color="#996600">Kiwi Contender</font></a></font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">
      <p style="margin-left: 0px; margin-right: 0px" align="center">
<b><i><font face="Verdana" size="2" color="#006600">The Packer</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">

<b><i>
<font color="#996600" face="Verdana" size="2"><a href="the%20packer.pdf">
<font color="#996600">Grower finds Success with KiwiBerries</font></a></font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">

<p align="center" style="margin-left: 0px">

<b><i><font face="Verdana" size="2" color="#006600">Univ. of Missouri 
Extension</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">

<b><i><a href="missouri%20st.pdf"><font color="#996600" face="Verdana" size="2">
The Berry Basket</font></a></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359" height="19">

<p align="center" style="margin-left: 0px">

<b><i><font face="Verdana" size="2" color="#006600">Phigblog</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">
      <p align="center">

<b><i><font face="Verdana" size="2" color="#996600">
<a href="http://phigblog.com/2009/01/23/growing-kiwiberries/">
<font color="#996600">Growing KiwiBerries</font></a></font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">&nbsp;</td>
    </tr>
    <tr>
      <td width="359">

<p align="center" style="margin-left: 0px">

<b><i><font face="Verdana" size="2" color="#006600">Phigblog</font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">


<p align="center">


<b><i><font face="Verdana" size="2" color="#996600">
<a href="http://phigblog.com/2009/01/19/hello-world/"><font color="#996600">Back Yard Fruit Growers 
Meeting</font></a></font></i></b></p></td>
    </tr>
    <tr>
      <td width="359">

&nbsp;</td>
    </tr>
    <tr>
      <td width="359" style="border-bottom: 1pt solid #006600">

&nbsp;</td>
    </tr>
  </tbody></table>