<h3 class="cn">联系我们</h3>
<p>
	We would really like to hear your thoughts, comments, and opinions.  Tell us what you think about our products, our company, our web site, or anything else that comes to mind. We welcome all input.
</p>
<p class="cn">
	我们很愿意听到你的想法，评论和意见。告诉你对我们的产品，公司，网站，以及其他任何方面的想法，我们欢迎各种建议。
</p>

<p>
	Due to a website upgrade, our form is not currently available.
</p>
<p class="cn">
	由于网站升级，无法在线提交你的意见。
</p>

<p>
	To submit your comments, or to sign up for the 2014 Kiwi Berry Direct Notification List please send an email to: holly@kiwiberry.com
</p>
<p class="cn">
	提交你的意见，或者加入我们的2014年直送计划，可以发邮件给我们：holly@kiwiberry.com
</p>
<p>
	Please include:  Your Name, Street Address, City, State, Zip Code, and your Email Address so we are able to send you a confirmation.
</p>
<p class="cn">
	请注明：你的公司名称，地址，城市，州，邮编，还有你的Email, 我们会发邮件确认。
</p>
<p>
	Thank you for your patience.
</p>
<p class="cn">
	谢谢你的耐心。
</p>