<div id="main">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= link_to image_tag("8_Picture_Perfect.jpg", alt: "...", :size => "290x150"), 'http://rubyonrails.org/' %>
	      <div class="caption">
	        <h4>Kiwi Berry Organics 公司</h4>
	        <p class="cn">我们是世界上唯一通过认证的育种－种植－包装奇异果的公司，已有26年历史！
	        </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= link_to image_tag("red_pedistal_glass.jpg", alt: "...", :size => "290x150"), 'http://rubyonrails.org/' %>
	      <div class="caption">
	        <h4>Passion Poppers & Kandi Kiwi</h4>
	        <p class="cn">
	        	Passion Poppers 和 Kandi Kiwi这两个品种在所有供人类食用的奇异果中含糖量最高。
	        </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= link_to image_tag("karp_poppers_web.jpg", alt: "...", :size => "290x150"), 'http://rubyonrails.org/' %>
	      <div class="caption">
	        <h4>奇异果直送</h4>
	        <p class="cn">
	        	奇异果直送是我们的一项服务，我们可以把奇异果直接送到你的家门。
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
</div>



