<h3 class="cn">Kiwi Berry Organics (KBO公司)</h3>
<p>
	Kiwi Berry Organics Co. is the world's only certified organic breeder, grower/packer of fresh fruit kiwi berries.
</p>
<p class="cn">
	Kiwi Berry Organics 公司是全世界唯一一家通过认证的有机育种，栽种/包装新鲜奇异果的公司
</p>
<p>
Our fruit was first marketed under the name "Kiwi Berries" sixteen years ago, and when the name was adopted by producers in the US and New Zealand growing conventional fruit, we established the Kiwi Berry Organics Co. brand name and new labeling in 2006 to distinguish our organically grown fruit and alleviate any consumer confusion. 
</p>
<p class="cn">
	我们的水果在16年前第一次使用“奇异果”这个名字进入市场，这个名字后来被美国和新西兰的水果栽培商广泛使用，因此我们在2006年建立了Kiwi Berry Organics这个品牌，用来识别我们种植的水果，减少客户的困惑。
</p>
<p>
We control all aspects of the operation which entails our choice of hardy kiwi variety, customized trellising, land management systems, and pre and post harvest handling practices and protocols.  We also coordinate promotion, sales, and logistics to distributors, upscale grocers, and co-operatives. 
</p>
<p class="cn">
	我们控制生产运作的方方面面，包括奇异果的选种，定制搭棚，土地管理系统，以及收割前和收割后的管理。我们同时协调产品宣传，销售，后勤，高端经销商以及其他合作者。
</p>

<p>
We grow kiwi berries because it’s our passion, and we do this organically so they are safe to eat. What does "organics" do for hardy kiwi?  When you compare "average" Brix readings, our organic fruit measures a 24.9 and conventionally grown kiwi measures a 14.7.  
</p>

<p class="cn">
	我们种植奇异果是因为我们热爱它，我们采用有机方法种植，因此它们吃起来很安全。经过我们的改良，和普通的奇异果相比，我们的含糖量指数达到24.9，而普通品种只能达到14.7。 
</p>
<p>
We have produced the world’s sweetest, Hi-Brix (sugar level) reading of any kiwi (actinidia genus) documented internationally.  Testing was conducted by the Penn State University Department of Horticulture Foolad Labs, University Park, PA in 2009.
</p>
<p class="cn">
	我们生产世界上最甜的，含糖量最高的奇异果，这是宾夕法尼亚大州立大学园艺学实验室在2009年的测试结果。
</p>
<p>
Our Kiwi Berries are grown on our modified T-bar trellis system where they receive maximum sunshine.  Fruit exposed to the sun contains higher sugar levels (Brix), which provides optimized flavors, and greater nutrient benefits including today's sought after antioxidants.  Only the best quality fruit, produced on the shoulders of the vine, that are exposed to and blushed by the sun are harvested and packaged.
</p>
<p class="cn">
	我们的奇异果生长在我们自己定制的T形架上面，使它们能够得到足够的光照，获得最好的口感，和更丰富的营养，其中包括世界上不断探索的抗氧化成分。我们只采摘藤蔓上那些经过足够的光照，质量最好的奇异果。
</p>
<p>
Select berries are hand picked at the peak of maturity allowing the fruit to assimilate the natural sugars from the vine. Our fruit is packaged to ripen uniformly providing the consumer with a consistent product, and they are identified by "branded name" Passion Poppers and Aloha Annas, as each variety has its own individual color, size, shape, and tropical flavor.  We believe that the consumer should have the opportunity to choose what they prefer.
</p>
<p class="cn">
	手工采摘选择在成熟度达到顶峰的时候，藤蔓中的养分已经被果实完全吸收。我们的水果利用包装使他们均匀的成熟(催熟), 能够给客户提供质量保持一致的产品，它们会贴上我们的的品牌标签：Passion Poppers和Aloha Annas（激情波佩斯 和 阿罗哈安娜斯）。每个品种的颜色，大小，形状，口味都有所不同，我们觉得客户应该有机会选择到他们最喜欢的口味。
</p>
<p>
Flavor values, sugar levels, nutritional benefits, and variety choice has built consumer satisfaction & demand. We have sold out every year for the past nine years, and the Passion Popper crop is always sold before it is harvested.  We consider this a win-win relationship with our vendors - we sell out and they sell out. The consistency of our pack-out, and a fourteen day shelf life are guaranteed.
</p>
<p class="cn">
	良好的口感，甜度，丰富的营养成分，不同的口味选择，已经得到了更多的客户满意度和需求。在过去的9年中，我们每年都全部卖光，Passion Popper这个品种甚至在采摘前就整株出售。我们希望同经销商建立双方共赢的关系，我们全部卖完，经销商也全部卖完。
</p>
<p>
Our berries are sold for the same price, or slightly above, those conventionally grown.  We invest three times the labor to bring you organic fruit, and pride ourselves on quality over quantity.   
</p>
<p class="cn">
	我们的奇异果和其他地方价格基本相同，或者略微高一点。我们付出了3倍的努力给你带来的有机水果，我们对它们的质量感到骄傲。
</p>
<p>
Please see our "Packaging & Distribution" page for more specific information about type of packaging, availability dates, UPC codes, and our Organic Certification.
</p>
<p class="cn">
	请访问我们的“包装发送”页面获得更多的关于包装和认证的详细信息。
</p>
<p>
We would like to thank our repeat clientele who have allowed us to become the only family farm making a sustainable living propagating and cultivating hardy kiwi fruit.
</p>
<p class="cn">
	我们要感谢客户，使我们成为一家不断持续发展的生产培育奇异果的家庭农场。
</p>