<h3 class="cn">奇异果</h3>
<h4 class="cn">商业上可行的耐寒品种奇异果.</h4>
<p>
Most varities of hardy kiwi "actinidia arguta" originated in China. These vines produce a smooth-skinned fruit that is the "no fuzz", "no peel" cousin of the traditional kiwifruit.
</p>
<p class="cn">
	多数品种的耐寒奇异果“软枣猕猴桃”起源于中国。这些果树长出表皮平滑的果实，属于“无毛”品种，是传统猕猴桃的“无皮”表弟。
</p>
<h4 class="cn">每个种类都有不同的颜色，形状，大小，以及独特的风味</h4>
<p>
	Unlike raspberries, blueberries, and blackberries, that have numerous cultivars - with like colors and flavor - hardy kiwi has a greater dynamic range.  The characteristics of each variety are unique in that they have their own color, shape, size, and tropical taste.
</p>

<p class="cn">
	和树莓，蓝莓，黑莓不同，这些莓有无数的栽种者 － 而且颜色味道相似 － 相比之下，奇异果有更大的差异。每个种类的特点都独一无二，尤其自己的颜色，形状，大小和口味。
</p>

<p>
	Our goal was to develop our own varieties and management systems, and grow them organically to produce a fruit with higher sugar levels, optimized flavors, and greater nutrient values. 
</p> 

<p class="cn">
	我们的目标是开发我们自己的品种以及管理系统，采用有机方式种植，生产含糖量更高，口味更好，营养价值更高的品种。
</p>
<p>
	We were the first to utilize the name “KiwiBerries” in commerce in 1998.
In 2006 and 2008 New Zealand and the US Pacific Northwest respectively adopted the name "KiwiBerries".  Their berries are grown by conventional methods, not usually sun-blushed (most are green), nor are they pesticide free. They also package and market several different varieties of kiwi berries together under one label.
</p>
<p class="cn">
	我们是第一个在商业上使用“奇异果”这个名字的公司，在2006年和2008年，新西兰和美国分别采纳了这个名字。但是其他地方仍然用传统的方法种植，通常没有足够的光照，因此颜色是绿色，同时他们也使用了农药。而且他们对种类的奇异果在市场上用同一包装出售。
</p>
<p>
	Due to their adoption of the name KiwiBerries, we created our new marketing name "Kiwi Berry Organics" to alleviate consumer confusion.
</p>
<p class="cn">
	由于其他人也使用了“奇异果”这个名字，我们创建了自己的市场品牌"Kiwi Berry Organics"，从而让消费者认出我们，减少疑惑。
</p>
<p>
	We  believe that the varieties have such a distinct difference, that they deserve to be labeled with individual branded names.  And that is the way we market them, Passion Poppers and Aloha Annas, so you have the opportunity to choose your preference.
</p>
<p class="cn">
	我们相信，我们的奇异果品质独特，值得用不同的商标去标识。因此我们在市场上宣传两个品种：Passion Poppers （激情波佩斯）还有 Aloha Annas（阿罗哈安娜斯），所以你可以按照自己的喜好去选择。
</p>

