<h4>
	加入2014年奇异果直达计划，请直接访问“联系我们”页面。
</h4>

<p>
	Kiwi Berry Direct is the only “direct to consumer” shipping service that will deliver the world’s sweetest, most nutritious, organic kiwi berries from our award winning NE SARE (Sustainable Agriculture Research Education) farm to locations within the Continental US. 
</p>
<p>
Our Kiwi Berry Direct shipping program, now in its sixth year...
</p> 

<p>
Supplies people who have been buying our berries since the beginning, and who have expressed that they are hooked / addicted / obsessed with our fruit. (See the Consumer Comments below).
</p>

<p>
	Provides anyone in the Continental US the opportunity to try our fruit for the first time. These berries are a once in a lifetime - must try.
</p>
 
<p>
	And if you’ve tried the other brands, have tasted one or two berries and have thrown the rest away, consider giving Kiwi Berries another chance and try the world’s best.
</p>

<h3>消费者评论</h3>
<p>
	<blockquote>
	6 packages in the last 2 days and we're out will be going back tomorrow. an addiction ...lol
	</blockquote>
</p>

<p>
	<blockquote>
OH MY GOD!  These are sooooo great!  We've only just discovered them and my 9 yr old and I hooked!!!
	</blockquote>
</p>

<p>
	<blockquote>
	I almost cried when he told me it was the end of the anna season.  I just discovered them yesterday!!! Now I am an addict without a supply.
	</blockquote>
</p>
<p>
	<blockquote>
	I tried the poppers for the first time and I am HOOKED!
	</blockquote>
</p>

<p>
	<blockquote>I discovered these gems at Wegmans last season and instantly became obsessed.  I kept going back until they were gone. Seriously, Awesome Fruit - there is nothing like it. I'm so excited that the season is almost upon us.  It's the first time I can remember looking forward to the end of summer - this fruit is the sole reason. If you haven't gotten the idea, I love your product.  Simply Divine!
</blockquote>
</p>

<p>
Thank you to everyone for your comments.
<p>

<p>
	We guarantee the sweetest, best tasting, most nutritious kiwi !

 
Our Passion Poppers and Aloha Annas  ripen and blush in the sun, and are hand picked at the peak of maturity which yields berries with higher nutritional value, and enhanced flavors.  We harvest and pack our fruit to ripen uniformly providing you with a consistent product.

 
Our Kiwi Berries are organically grown so they are safe for you to eat.  They are not  sprayed with cancer causing organophosphates or picked too early and ripened with ethylene.

 
This fruit is sensational for out-of-hand eating when they turn a darker green and are slightly wrinkled. Their smooth skin makes them easy to eat anywhere - they're a perfect addition to a lunch box for a nutritious, mid-day energy boost.  They are versatile in culinary creations too - we've made sauces for entrees, salad dressings, marinades, desserts, and drinks. 

They will satisfy anyone with a discriminating palate for the very finest, best-tasting organic fruit.
</p> 
______________________________________________________________
<p>
	What You will find in our package...

 
One order consists of (12) six ounce clamshells (as seen above) of Passion Poppers or Aloha Annas.  Our clamshells are packed to the brim and are over weight which means that you will be receiving about 5 lbs. of fruit, approximately 1/2 lb. of Kiwi Berries free.
By purchasing through our Kiwi Berry Direct shipping program, we are able to offer our organic Kiwi Berries to you for less than the suggested retail pricing in stores.

</p> 

______________________________________________________________

<p>
	Our "signature" fruit unequaled in taste and nutrition, has blended flavors of super sweet kiwi and exotic melon with a cotton candy finish.  These berries have the highest sugar levels (Brix),  from 24 to 28, yet a low glycemic index, and medium/low acid.  This variety is only available from us, is the first harvested, and should be available to ship in mid September.

 

A flavorful combination of kiwi, pineapple, and a slight hint of mint.  These berries reach a sugar level (Brix) up to 22 thanks to our custom trellis system that provides them with lots of sunshine and blush.  This variety is  harvested  after the Passion Poppers and should be available to ship the latter part of Sept.

 

</p>    

 
_____________________________________________________________

<p>
	One order of fruit, (12) 6 ounce clamshells, was $58.00 in 2013. Including shipping and handling charges, each order totaled $79.98.  There will be a slight increase for 2014 due to a rise in US Postal Service shipping rates.

Your on-line payment is processed through PayPal's secure website. You will receive an email payment confirmation from PayPal.  Please note:  You do not need to have, or sign up for, a PayPal Account to complete an order.

Your order will be processed for shipment upon our notification of your purchase.
</p>


_____________________________________________________________
<p>
	Fruit will shipped after the berries are harvested...normally the middle to the end of September.  Please Note: this time frame is subject to change due to Mother Nature's schedule.

Your order will be sent Priority Mail, via the U.S. Postal Service, and will arrive on your doorstep within two to three days.  We only send out shipments on Monday, Tuesday, or Wednesday to ensure that no packages are held in a postal facility over the weekend.
</p>


_____________________________________________________________
<p>
	If you have any questions, please use the "Contact Us" page to get in touch with us.

Visit our Kiwi Berry Direct page on FaceBook
</p>
