<h3 class="cn">"奇异"人</h3>
<h4>David  Jackson</h4>

<p>
	Following a lengthy career in music, David returned to his passion of growing plants for the future.
</p>
<p>
	After researching many different possibilities that would suit the Pennsylvania climate, he chose hardy kiwi.  David founded Kiwi Korners, his organic farm located in Northeastern Pennsylvania, in 1988.
</p>

<p>
	He devotes his attention to every aspect of the farm, and carries out a goodportion of the arbor management himself.
</p>

<p>
	 He is also always at the end of the pack-line making certain that product quality stays at the "impeccable" level.
</p>

<p>
	One of Dave's life goals is to achieve "genuine originality".  By choosing hardy kiwi as a crop, and learning by trial and error how to grow, manage, and successfully market the fruits of his labor, I would say that he has shaken hands with originality.
</p>

<p>
	His mission is to seek out the absolute best varieties of hardy kiwi to grow, and in turn offer folks a "good for you" nutritious, and outrageously great tasting tropical treat. 
</p>


