<h1>奇异果</h1>
<h3>Commercially viable varieties of hardy kiwi.</h3>
<p>
Most varieties of hardy kiwi "actinidia arguta" originated in China. These vines produce a smooth-skinned fruit that is the "no fuzz", "no peel" cousin of the traditional kiwifruit.
</p>
<h3>Each variety has its own color, shape, size, and distinct flavor.
</h3>
<p>
	Unlike raspberries, blueberries, and blackberries, that have numerous cultivars - with like colors and flavor - hardy kiwi has a greater dynamic range.  The characteristics of each variety are unique in that they have their own color, shape, size, and tropical taste.
</p>

<p>
	Our goal was to develop our own varieties and management systems, and grow them organically to produce a fruit with higher sugar levels, optimized flavors, and greater nutrient values. 
</p> 
<p>
	We were the first to utilize the name “KiwiBerries” in commerce in 1998.
In 2006 and 2008 New Zealand and the US Pacific Northwest respectively adopted the name "KiwiBerries".  Their berries are grown by conventional methods, not usually sun-blushed (most are green), nor are they pesticide free. They also package and market several different varieties of kiwi berries together under one label.
</p>
<p>
	Due to their adoption of the name KiwiBerries, we created our new marketing name "Kiwi Berry Organics" to alleviate consumer confusion.
</p>

<p>
	We  believe that the varieties have such a distinct difference, that they deserve to be labeled with individual branded names.  And that is the way we market them, Passion Poppers and Aloha Annas, so you have the opportunity to choose your preference.
</p>


