<h3 class="cn">Kiwi Korners 农场</h3>
<p>Looking for a unique crop to grow, hardy kiwi (actinidia arguta) was Dave's choice.</p>

<p class="cn">
	寻找一种独特的农作物种植，耐寒奇异果 (软枣猕猴桃) 成为Dave的选择。
</p>
<p>
	Pioneering, Passion, Perseverance, and Pride are the korner stones of our organic farm Kiwi Korners, located in Central Pennsylvania. 
</p>

<p class="cn">
	开拓，激情，坚持和荣耀是座落在宾夕法尼亚州中部的Kiwi Korners农场人的信念。
</p>
<p>
	Founded in 1988, the farm consists of forty plus acres, twenty of which are designated to grow hardy kiwi.  This area, separated into eight different arbors, offers three distinct micro-climates.
</p>

<p class="cn">
	成立于1988年，当时农场只有40多亩地，其中20多亩用来种植耐寒奇异果。这片土地生长了8种不同的乔木，提供了3种独特的微气候环境。
</p>
<p>
	Kiwi Korners was built from the ground up, not something constructed by others or purchased.  Building a first generation family farm, and being the caretakers of the land, we are obsessed with putting out a quality product.
</p>
<p class="cn">
	Kiwi Korners农场从无到有，并不是别人建造好之后而被我们购买的农场。建立一个家庭农场，成为这片土地的主人，我们对生产高品质的产品充满热情。
</p>
<p>
	It began with a two acre block of trellis built on a no-till corn field.  Our test trials contained the largest assortment of hardy kiwi assembled in the Northern Hemisphere. Over fifty named and numbered varieties, from all over the world, were trialed in conjunction with a breeding program.
</p>

<p class="cn">
	最开始，我们只在2亩免耕(不翻动表土)的玉米田上面种植。我们的育种实验包含了北半球大部分的耐寒猕猴桃品种，试种了来自世界各地超过50个不同的种类。
</p>

<p>
	Our goal was to:  A) Identify the best varieties, B) Implement a breeding program, C) Develop the best management systems for chosen varieties,  and  D) Create a market for our fruit we named KiwiBerries. 
</p>
<p class="cn">
	我们的目标是：A) 选出最好的品种 B) 实施育种计划 C) 为选出的不同品种开发出一套最好的管理办法 D) 为我们命名的“奇异果”这个产品开发市场。
</p>
<p>
	We outlined fruit qualities that would determine the best varieties which were: flavor value, sugar level, appearance, and marketability.  We have learned that it takes 8-12 years to bring a vine into "full" production, and have refined a multitude of management practices and protocols that contribute to the successful production and marketing of this unique, specialized berry. 
</p>
<p class="cn">
	我们确定了选择最佳品种的标准：口味，含糖量，外观，以及市场推广的难度。我们了解到，一条蔓藤需要经过8到12年才能进入“丰产期”，我们还细化了一系列管理措施和方法，用来确保这种特殊奇异果的在种植期间以及市场推广上的成功。
</p>
<p>
	Initially four of the fifty named and numbered varieties test trialed were deemed to be commercially viable and made the grade to qualify as kiwiberries.  We can boast many firsts...one of which was marketing our hardy kiwi fruit under the "KiwiBerries" name in 1998.
</p>
<p class="cn">
	最开始有4种测试的品种脱颖而出，被确定为可以商业化，而且满足我们所定义的“奇异果”的标准。我们可以自夸很多项第一。。。 其中之一就是在1998年，我们把耐寒猕猴桃这种水果用“奇异果”这个名字在市场上推广
</p>
<p>
	Growth from that point was realized on multiple fronts.  Our farm building with cold storage was erected and purchased the first of two pack lines.  A wind machine was added to the arbor to protect our vines against spring frost.
</p>
<p class="cn">
	从那个时候开始我们在多个方面不断成长。我们的农场配备了冷库，购买了第一套包装线。我们在种植棚架旁边配备了风机，用来保护蔓藤免受春季霜冻。
</p>
 <p>
 	From 1988 to 1992, we increased our plantings, half of the farm was planted in test trials, and the other half was planted in Annas to produce a fruit crop for the market.
 </p>
<p class="cn">
	从1988到1992年，我们增加了种植面积，一半以上的土地作为试验田，另一半用于种植安娜斯(Annas)投入市场。
</p>
 <p>
 	We made the decision to become certified organic, and transcended into certification without the three year transitional period, as we had been utilizing those management practices from the beginning.
 </p>
<p class="cn">
	我们决定使我们的产品得到认证，并且节省了3年的认证时间，因为我们从一开始就采用认证所要求的方法种植。
</p>
<p>
	We developed our Passion Popper variety, currently the market favorite that sells out before the crop is picked.
</p>
<p class="cn">
	而后，我们开发了激情波佩斯这个品种，目前是是常常最畅销的品种，在采摘前就会整枝卖完。
</p>
<p>
	We were the recipients of a SARE Grant that we titled "Hardy Kiwi Pollination & Production" testing various hardy kiwi pollination methods.  There was little known about male varieties at that time. Our research provided key information to support hardy kiwi as a commercial crop.
</p>
<p class="cn">
	我们是“SARE Grant”的采用者之一，我们把这种方法叫做“耐寒奇异果授粉与生产”，用来测试不同种类的授粉方法。在那个时候，很少有人知道雄性种类。我们的研究提供了关键信息，使其成为可以商业化的品种。
</p>
<p>
	In 2006, we added another three arbors over six acres. Currently there are 20 acres under trellis and dedicated to hardy kiwi. Passion Poppers were planted in the new arbors, and the original test trial arbor was also transitioned into a commercial production block.
</p>
<p class="cn">
	在2006年，我们搭建了另外三个藤架，占地超过6亩。到目前为止，我们有超过20亩的土地用于种植奇异果。在新的藤架上面种植激情波佩斯这个品种，老的试验田也转变成商业化生产。
</p>
<p>
	We reduced the number of cultivars that we package for the fresh fruit market from four to two which are our Passion Poppers, and the Aloha Annas that are available today. 
</p>
<p class="cn">
	我们把过去种植的4个品种减少到现在的2个，分别是 “激情波佩斯” 和 “阿罗哈安纳斯”
</p>

<p>
	There have been countless exploratory, hands-on trips visiting scores of breeders, growers, and research stations to exchange information and evaluate hardy kiwi varieties and cultural methods. 
</p>
<p class="cn">
	过去我们进行了无数试验，拜访了很多育种专家，种植专家，以及研究机构，和他们进行交流，以及评估耐寒奇异果的品种，以及种植方法。
</p>
<p>
	Some of the research locations in our travels have included Oregon, Oregon State University, Washington State, Vancouver Island, Canada Ministry of Agriculture, Food, & Rural Affairs - Agassiz and Abbotsford Research Stations - British Columbia, New Zealand - Institute for Plant & Food Research Stations (previously HortResearch) - North & South Islands - New Zealand, and Hogeschool Gent in Belgium.
</p>
<p class="cn">
	我们拜访过的研究机构有：俄勒冈州，俄勒冈州立大学，华盛顿州，温哥华岛，加拿大农业部，位于英属哥伦比亚的阿加西和阿伯兹福德研究站，位于新西兰的植物研究所，食品研究所，以及位于比利时的Hogeschool Gent。
</p>
<p>
	We have provided vine stock for test trials to numerous land grant universities in the US that include Penn State University, Cornell University, Alabama A&M University, and Auburn University.
</p>

<p class="cn">
	我们为美国的许多大学提供试验，其中包括宾夕法尼亚州立大学，康奈尔大学，阿拉巴马A&M大学，以及奥本大学。
</p>

<p>
	Research, workshops, and presentations are shared on an international basis with Universities, research facilities, and growers.  We also work with School Nutrition Directors, and Associations with an interest in including kiwi berries in their school food programs for its nutritional values.
</p>
<p class="cn">
	我们的研究成果在各个大学，研究机构和种植者当中分享。我们同对奇异果感兴趣的各所大学的董事，机构保持联系，将奇异果纳入他们的学校食品计划。
</p>
<p>
	As of 2014, we have been researching, developing, and growing hardy kiwi (actinidia arguta) for twenty-six years.
</p>
<p class="cn">
	到2014年为止，我们已经从事奇异果的研究，开发，种植长达26年。
</p>

<p>
	Breeding and trials are an ongoing endeavor.  We maintain two juvenile rows that will hold 400 plus vines for test trials, and breeding evaluation.  We currently sponsor six incubator farms in Pennsylvania, Maryland, and New Jersey who are growing and evaluating varieties from Kiwi Korners.
</p>
<p class="cn">
	育种和试验需要持续不断的努力。我们利用2条试验田种植400多株藤蔓用于育种实验和评估。我们目前支持6家种植和评估我们的品种的孵化农场，分别位于宾夕法尼亚，马里兰和新泽西州。
</p>
<p>
	We continue to establish the next generations “best of the best”...perhaps a variety that rivals the Passion Popper.  Presently we are testing three new hybrids.  The "Quest for the Best" continues... 
</p>
<p class="cn">
	我们继续开发下一代的“王中王”品种。。。也许会超过激情波佩斯。目前我们正在实验3个新的杂交品种。
</p>
