<p>Looking for a unique crop to grow, hardy kiwi (actinidia arguta) was Dave's choice.</p>

<p class="cn">
	寻找一种独特的农作物种植，耐寒奇异果 (软枣猕猴桃) 成为Dave的选择。
</p>
<p>
	Pioneering, Passion, Perseverance, and Pride are the korner stones of our organic farm Kiwi Korners, located in Central Pennsylvania. 
</p>

<p class="cn">
	开拓，激情，坚持和荣耀是
</p>
<p>
	Founded in 1988, the farm consists of forty plus acres, twenty of which are designated to grow hardy kiwi.  This area, separated into eight different arbors, offers three distinct micro-climates.
</p>

<p class="cn">
	成立于1988年，当时农场只有40多亩地，其中20多亩用来种植耐寒奇异果。
</p>
<p>
	Kiwi Korners was built from the ground up, not something constructed by others or purchased.  Building a first generation family farm, and being the caretakers of the land, we are obsessed with putting out a quality product.
</p>

<p>
	It began with a two acre block of trellis built on a no-till corn field.  Our test trials contained the largest assortment of hardy kiwi assembled in the Northern Hemisphere. Over fifty named and numbered varieties, from all over the world, were trialed in conjunction with a breeding program.
</p>

<p>
	It began with a two acre block of trellis built on a no-till corn field.  Our test trials contained the largest assortment of hardy kiwi assembled in the Northern Hemisphere. Over fifty named and numbered varieties, from all over the world, were trialed in conjunction with a breeding program.
</p>

<p>
	It began with a two acre block of trellis built on a no-till corn field.  Our test trials contained the largest assortment of hardy kiwi assembled in the Northern Hemisphere. Over fifty named and numbered varieties, from all over the world, were trialed in conjunction with a breeding program.
</p>

<p>
	It began with a two acre block of trellis built on a no-till corn field.  Our test trials contained the largest assortment of hardy kiwi assembled in the Northern Hemisphere. Over fifty named and numbered varieties, from all over the world, were trialed in conjunction with a breeding program.
</p>

<p>
	Our goal was to:  A) Identify the best varieties, B) Implement a breeding program, C) Develop the best management systems for chosen varieties,  and  D) Create a market for our fruit we named KiwiBerries. 
</p>

<p>
	We outlined fruit qualities that would determine the best varieties which were: flavor value, sugar level, appearance, and marketability.  We have learned that it takes 8-12 years to bring a vine into "full" production, and have refined a multitude of management practices and protocols that contribute to the successful production and marketing of this unique, specialized berry. 
</p>

<p>
	Initially four of the fifty named and numbered varieties test trialed were deemed to be commercially viable and made the grade to qualify as kiwiberries.  We can boast many firsts...one of which was marketing our hardy kiwi fruit under the "KiwiBerries" name in 1998.
</p>

<p>
	Growth from that point was realized on multiple fronts.  Our farm building with cold storage was erected and purchased the first of two pack lines.  A wind machine was added to the arbor to protect our vines against spring frost.
</p>

 <p>
 	From 1988 to 1992, we increased our plantings, half of the farm was planted in test trials, and the other half was planted in Annas to produce a fruit crop for the market.
 </p>

 <p>
 	We made the decision to become certified organic, and transcended into certification without the three year transitional period, as we had been utilizing those management practices from the beginning.
 </p>

<p>
	We developed our Passion Popper variety, currently the market favorite that sells out before the crop is picked.
</p>

<p>
	We were the recipients of a SARE Grant that we titled "Hardy Kiwi Pollination & Production" testing various hardy kiwi pollination methods.  There was little known about male varieties at that time. Our research provided key information to support hardy kiwi as a commercial crop.
</p>

<p>
	In 2006, we added another three arbors over six acres. Currently there are 20 acres under trellis and dedicated to hardy kiwi. Passion Poppers were planted in the new arbors, and the original test trial arbor was also transitioned into a commercial production block.
</p>

<p>
	We reduced the number of cultivars that we package for the fresh fruit market from four to two which are our Passion Poppers, and the Aloha Annas that are available today. 
</p>

<p>
	There have been countless exploratory, hands-on trips visiting scores of breeders, growers, and research stations to exchange information and evaluate hardy kiwi varieties and cultural methods. 
</p>

<p>
	Some of the research locations in our travels have included Oregon, Oregon State University, Washington State, Vancouver Island, Canada Ministry of Agriculture, Food, & Rural Affairs - Agassiz and Abbotsford Research Stations - British Columbia, New Zealand - Institute for Plant & Food Research Stations (previously HortResearch) - North & South Islands - New Zealand, and Hogeschool Gent in Belgium.
</p>

<p>
	We have provided vine stock for test trials to numerous land grant universities in the US that include Penn State University, Cornell University, Alabama A&M University, and Auburn University.
</p>

<p>
	Research, workshops, and presentations are shared on an international basis with Universities, research facilities, and growers.  We also work with School Nutrition Directors, and Associations with an interest in including kiwi berries in their school food programs for its nutritional values.
</p>

<p>
	As of 2014, we have been researching, developing, and growing hardy kiwi (actinidia arguta) for twenty-six years.
</p>

<p>
	We grow kiwiberries because it’s our passion. We do this organically so they are safe to eat, and contain high Brix (sugar levels) which produces superior nutrient content, and optimal flavors.
</p>

<p>
	Our choice of hardy kiwi variety, customized trellising, land management systems, and the pre and post harvest handling practices that we have developed for this crop has produced the world’s sweetest, highest Brix (sugar level) reading of any actinidia genus documented internationally.  Testing was conducted by the Penn State University Department of Horticulture Foolad Labs, University Park, PA in 2009. 
</p>

<p>
	Breeding and trials are an ongoing endeavor.  We maintain two juvenile rows that will hold 400 plus vines for test trials, and breeding evaluation.  We currently sponsor six incubator farms in Pennsylvania, Maryland, and New Jersey who are growing and evaluating varieties from Kiwi Korners.
</p>

<p>
	We continue to establish the next generations “best of the best”...perhaps a variety that rivals the Passion Popper.  Presently we are testing three new hybrids.  The "Quest for the Best" continues... 
</p>
