<h3 class="cn">"奇异"人</h3>
<h4>David  Jackson</h4>

<p>
	Following a lengthy career in music, David returned to his passion of growing plants for the future.
</p> 
<p class="cn">
	David放弃了在音乐界的无聊的职业，回到了让他充满热情的种植业。
</p>
<p>
	After researching many different possibilities that would suit the Pennsylvania climate, he chose hardy kiwi.  David founded Kiwi Korners, his organic farm located in Northeastern Pennsylvania, in 1988.
</p>

<p>
	He devotes his attention to every aspect of the farm, and carries out a goodportion of the arbor management himself.
</p>

<p>
	 He is also always at the end of the pack-line making certain that product quality stays at the "impeccable" level.
</p>

<p>
	One of Dave's life goals is to achieve "genuine originality".  By choosing hardy kiwi as a crop, and learning by trial and error how to grow, manage, and successfully market the fruits of his labor, I would say that he has shaken hands with originality.
</p>

<p>
	His mission is to seek out the absolute best varieties of hardy kiwi to grow, and in turn offer folks a "good for you" nutritious, and outrageously great tasting tropical treat. 
</p>

<h4>Holly  Laubach</h4>
<p>
	Holly joined David at Kiwi Korners in 1990.  Her interest in research was a timely addition for the test trials that were initiated with hardy kiwi.
</p>
<p class="cn">
	Holly在1990年加入Kiwi Korners农场。她的对研究的兴趣及时的帮助了关于耐寒猕猴桃的育种实验。
</p>
<p>
	She is involved in all aspects of KiwiBerry Organics and Kiwi Korners Farm operations that includes the farm's organic certification, research data, and coordinates with Dave on arbor maintenance, harvest,  packaging, logistics, distribution, and marketing.
</p>

<p>
	She holds degrees in visual arts, and has graduate level teaching and accounting in her background which support her efforts as the KiwiBerry Organics webmaster and financial manager.
</p>

<p>
	Both David and Holly completed a fellowship in the Rural Leadership Program, RULE, in the College of Agricultural Sciences, at Penn State University, PA where they focused their leadership skills in sustainable agricultural systems and education.
</p>

<p>
	As agricultural researchers, they have dedicated themselves to the development of multi-cultivar hardy kiwi, actinidia arguta, as a viable, organic, sustainable, commercial crop for the past twenty-five years. 
</p>
<p>
	They employ three persons throughout the year, and add up to thirty more for harvest.
</p>
