<h2 class="cn">关于奇异果的链接</h2>
<table cellpadding="5" cellspacing="0" border="0" width="100%"><tbody><tr><td align="left" valign="top">




<div align="center">
  <table border="0" cellpadding="0" style="border-collapse: collapse" width="65%" id="table9">
    <tbody><tr>
      <td>
      </td>
    </tr>
  </tbody></table>
</div>
<p style="margin-left: 0px" align="center">




<br>

<i><b>
              <font size="5" color="#9B6500" face="Calisto MT">耐寒奇异果&nbsp;相关的链接</font></b></i></p>
<div align="center">
  <table border="0" cellpadding="0" style="border-collapse: collapse" width="85%" id="table8">
    <tbody><tr>
      <td>
      <p align="left" style="margin-left: 45px"><i><a href="http://www.nzkiwiberry.com/">
      <font face="Verdana" size="2" color="#996600"><u>美国</u></font></a></i></p></td>
    </tr>
    <tr>
      <td>
      <p style="margin-left: 65px" align="left">
      <font color="#006600" face="Verdana" size="2">
      <a href="http://heavytable.com/a-cold-hardy-kiwifruit-harvest/">
      <font color="#006600">Bob Guthrie - 明尼苏达</font></a></font><a href="http://heavytable.com/a-cold-hardy-kiwifruit-harvest/"><font color="#006600"> 
      园艺研究中心</font></a></p></td>
    </tr>
    <tr>
      <td>
      <p align="left" style="margin-left: 65px">
      <font color="#006600" face="Verdana" size="2">
                <a href="https://sites.google.com/site/kiwifruitsalad2/">
      <font color="#006600">Bob Glanzman - KiwiFruitSalad 2 - Kiwi Enthusiasts Journal</font></a></font></p></td>
    </tr>
    <tr>
      <td>
      <p style="margin-left: 65px" align="left">
                    <a href="osu%20growing%20kiwifruit.pdf">
                    <font color="#006600" size="2" face="Verdana">俄勒冈州大学外刊</font></a></p></td>
    </tr>
    <tr>
      <td>
      <p style="margin-left: 65px" align="left">
                <a href="http://www.ag.ohio-state.edu/~ohioline/hyg-fact/1000/1426.html">
                <font face="Verdana" color="#006600" size="2">俄亥俄州立大学简介</font></a></p></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
      <p align="left" style="margin-left: 45px"><i><a href="http://www.crfg.org/pubs/ff/hardy-kiwifruit.html">
                    <font size="2" face="Verdana" color="#996600"><u>比利时</u></font></a></i></p></td>
    </tr>
    <tr>
      <td>
      <p align="left" style="margin-left: 65px">
      <a href="http://www.mini-kiwi.eu/en/Project/">
                    <font size="2" face="Verdana" color="#006600">Hogeschool 
      Gent</font></a></p></td>
    </tr>
    <tr>
      <td>
      <p align="left" style="margin-left: 65px">
      <a href="http://www.kiwibes.be/indekijker.php">
      <font face="Verdana" size="2" color="#006600">Christian De Kezel</font></a></p></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
      <p align="left" style="margin-left: 45px">
      <i>
      <font face="Verdana" size="2" color="#006600">
      <a href="http://www.mini-kiwi.de/"><font color="#996600"><u>德国</u></font></a></font><font color="#996600"><u></u></font></i></p></td>
    </tr>
    <tr>
      <td>
      <p style="margin-left: 65px" align="left"><a href="http://www.mini-kiwi.de/">
      <font face="Verdana" size="2" color="#006600"> 
      Werner Merkel</font></a></p></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
                <p align="left" style="margin-left: 45px">
                <i>
                <font face="Verdana" size="2" color="#996600"><u>新西兰</u></font></i></p></td>
    </tr>
    <tr>
      <td>
      <p style="margin-left: 65px" align="left">
      <font color="#006600" face="Verdana" size="2">
      <a href="http://www.nzkiwiberry.com/"><font color="#006600">新西兰奇异果种植公司</font></a></font></p></td>
    </tr>
    </tbody></table>
  <p>&nbsp;</p></div>
<div align="center">
  <p style="margin-left: 0px; margin-right:0px">
                <b>
                <em>
                <font size="5" face="Calisto MT" color="#9B6500">农业相关的链接</font></em></b></p>
  <div align="center">
    <table border="0" cellpadding="0" style="border-collapse: collapse" width="85%" id="table6">
      <tbody><tr>
        <td>
                    <p align="left" style="margin-left: 45px">
                    <font face="Verdana" color="#006600" size="2">
                    <a href="http://www.ams.usda.gov/AMSv1.0/NOP"><font color="#006600">美国农业部有机项目 (NOP)</font></a></font></p></td>
      </tr>
      <tr>
        <td>
                    &nbsp;</td>
      </tr>
      <tr>
        <td>
                    <p align="left" style="margin-left: 45px">
                    <a href="http://www.nesare.org/">
                    <font face="Verdana" color="#006600" size="2">SARE 
        (Sustainable Agricultural Research &amp; Education Program&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font></a></p></td>
      </tr>
      <tr>
        <td>
                    <p align="left" style="margin-left: 90px">
                    <a href="http://www.nesare.org/">
                    <font face="Verdana" color="#006600" size="2">Northeast 
        Region)</font></a></p></td>
      </tr>
      <tr>
        <td>
                    &nbsp;</td>
      </tr>
      <tr>
        <td>
                <p align="left" style="margin-left: 45px">
                <a href="http://www.ars.usda.gov/Main/docs.htm?docid=11308">
                <font face="Verdana" color="#006600" size="2">The
                    National Clonal Germplasm Repository</font></a></p></td>
      </tr>
    </tbody></table>
    <p>&nbsp;</p></div>
</div>
<p align="center" style="margin-left: 0px; margin-right: px">
                    <b>
                    <em>
                    <font size="5" face="Calisto MT" color="#9B6500">Hardy Kiwi 
                    Nursery Links</font></em></b></p>
<div align="center">
  <table border="0" cellpadding="0" style="border-collapse: collapse" width="85%" id="table4">
    <tbody><tr>
      <td>
  <p align="left" style="margin-left: 45px">
  <font face="Verdana" color="#006600" size="2">
  <a href="http://www.ediblelandscaping.com/buyPlants.php">
  <font color="#996600">Edible Landscaping</font></a></font><font color="#996600"></font><font face="Verdana" size="2" color="#996600"> 
  - Virginia</font><font face="Verdana" size="2" color="#006600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <font color="#006600">&nbsp;&nbsp; </font>
  <a href="http://www.ediblelandscaping.com/buyPlants.php">
  <font color="#006600">http://</font><font color="#006600"><u></u></font></a><font color="#006600"><u><a href="http://www.ediblelandscaping.com/products/vines/KiwisHardy/"><font color="#006600"><u>www.ediblelandscaping.com</u></font></a></u></font></font></p></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
  <p align="left" style="margin-left: 45px">
  <font face="Verdana" size="2" color="#006600">
  <a href="http://hartmannsplantcompany.com/miva/merchant.mv?Screen=PROD&amp;Product_Code=KW-R-9000-0040&amp;Category_Code=OS-R&amp;Store_Code=HPC">
  <font color="#996600">Hartman's Plant Company</font></a><font color="#996600"> 
  - Michigan</font></font><font face="Verdana" size="2" color="#996600">&nbsp;&nbsp; </font>
	<font face="Verdana" size="2" color="#006600">&nbsp;&nbsp;
  <a href="http://hartmannsplantcompany.com/miva/merchant.mv?Screen=PROD&amp;Product_Code=KW-R-9000-0040&amp;Category_Code=OS-R&amp;Store_Code=HPC">
  <font color="#006600">http://</font><u><font color="#006600">hartmansplantcompany.com</font></u></a></font></p></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
  <p align="left" style="margin-left: 45px">
  <font color="#006600">
  <a href="http://www.onegreenworld.com/advanced_search_result.php?keywords=hardy+kiwi&amp;osCsid=834efe5233d2976eb7940758ee6c7f15&amp;x=10&amp;y=10">
  <font size="2" color="#996600">Northwoods N</font></a></font><a href="http://www.onegreenworld.com/advanced_search_result.php?keywords=hardy+kiwi&amp;osCsid=834efe5233d2976eb7940758ee6c7f15&amp;x=10&amp;y=10"><font size="2" color="#996600">ursery</font></a><a href="http://www.ars.usda.gov"><font color="#996600" face="Verdana" size="2"> 
  - Oregon</font></a><font color="#996600" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><font face="Verdana" color="#006600" size="2">
	<a href="https://www.onegreenworld.com/Kiwis/420/"><font color="#006600">http://</font><u><font color="#006600">www.onegreenworld.com</font></u></a></font></p></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
  <p align="left" style="margin-left: 45px">
  <font face="Verdana" color="#006600" size="2">
  <a href="http://www.tripplebrookfarm.com/newweb/gen/namesearch/Actinidia.shtml#arguta">
  <font color="#996600">Tripple Brook Farm </font></a></font>
	<a href="http://www.tripplebrookfarm.com/newweb/gen/namesearch/Actinidia.shtml#arguta">
	<font face="Verdana" size="2" color="#996600"> 
  Massachusetts</font><font face="Verdana" size="2" color="#006600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</font></a><font color="#006600" size="2"><u>
	<font color="#006600" face="Verdana">
	<a href="http://www.tripplebrookfarm.com/newweb/gen/namesearch/Actinidia.shtml#arguta">
	<font color="#006600">http://<u>www.tripplebrookfarm.com</u></font></a></font></u></font></p></td>
    </tr>
  </tbody></table>
  <p>&nbsp;</p></div>
<p align="center" style="margin-left: 0px; margin-right: 0px">
                <em style="font-weight:700; ">
                <font size="5" face="Calisto MT" color="#9B6500">Health/Skin 
                    Care Links</font></em></p>
                  <div align="center">
                  <table border="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#111111" width="85%" id="table1">
          <tbody><tr>
            <td width="100%">
            <p align="left" style="margin-left: px"><i><b>
            <font face="Verdana" color="#006600" size="2">"Unparalleled 
            natural healing properties" - </font></b></i>
        <b><i><font face="Verdana" color="#006600" size="2">New "scientific 
        research" on Hardy Kiwi</font></i></b></p></td>
          </tr>
          <tr>
            <td width="100%">
            &nbsp;</td>
          </tr>
          <tr>
            <td width="100%">
                    <a href="http://rosacea.ii.net/news/2006/03/hardy-kiwi-fruit-extract-may-help.html">
                    <font face="Verdana" size="2" color="#996600"><u>Rosacea 
                    News</u></font></a><font face="Verdana" size="2" color="#006600">&nbsp; "hardy kiwi fruit extract may help 
                    atopic dermatitis"</font></td>
          </tr>
          <tr>
            <td width="100%">
            &nbsp;</td>
          </tr>
          <tr>
            <td width="100%">
                    <font face="Verdana" size="2" color="#006600">
                    <font color="#006600">
                    <a href="http://www.faqs.org/patents/app/20100330214">
                    <font color="#996600"><u>World Intellectual Property Organization</u></font></a></font> 
                    "Composition Comprising The Extract of ACTINIDIA ARGUTA for 
                    Preventing and Treating Baldness Disorders and Seborrheic 
                    Skin Disorders"</font></td>
          </tr>
          <tr>
            <td width="100%">
            &nbsp;</td>
          </tr>
          <tr>
            <td width="100%">
                    <font face="Verdana" size="2" color="#006600">
                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=12709898&amp;dopt=Abstract">
                    <font color="#996600"><u>PubMed</u></font> </a>"Actinidia Arguta as bone 
                    marrow cell proliferation 
                    promoting compounds"</font></td>
          </tr>
          <tr>
            <td width="100%">
            &nbsp;</td>
          </tr>
          </tbody></table>
        </div>
                    <p align="left" style="margin-left: 65; margin-right: 65">&nbsp;</p>
                    <p><br>





</p>





</td><td align="center" valign="top" width="5">

<img src="picts/spacer.gif" width="5" height="5" alt="image"><br>

</td></tr></tbody></table>