<p>
	The difference between our berries and anyone else's (besides variety) is that are our trellising and  management systems are designed to produce berries that are grown in the sun, not in the shade.
</p>

<p>
	Grown on our unique improved T-Bar trellis system, our berries receive plenty of sunlight and airflow which provides us with the "true" quality fruit that these vines naturally produce.
</p>

<p>
	Fruit exposed to the sun has higher sugar levels, optimized flavors, greater nutrient value, and is BLUSHED. 
</p>

<p>
	When Kiwi Korners was developed, the first major consideration was the trellising system.  We researched the two most common types utilized for hardy kiwi which are the conventional T-bar and pergola systems.
</p>

<p>
	Through our research we found that hardy kiwi varieties are tested on T-bar systems for their attributes and marketability.  They are then grown commercially on an all overhead pergola system which will yield higher production with the least amount of investment in time, labor, and input.
</p>

<p>
	The same variety of hardy kiwi, grown on the two different types of trellis systems, can produce two completely different fruits.  Let's use Anna as an example.  This variety is a "blusher".  If it is grown on an overhead pergola system it will always stay green, never reach it's full flavor potential, or surpass an 18 sugar level (Brix).  Grown on an T-bar system it will be blushed, and have a 21-24 sugar level (Brix), and fully developed flavor. 
</p>
 
<p>
	The conventional T-bar system is six feet in height with a four to six foot cross-arm.  The canopy, with laterals at eight to twelve inches, is left draped to one foot off of the ground.  This creates what we call the "curtain of diminishing returns" as it produces a lesser quality and size of fruit toward the bottom, and reduces sunlight.  This gives you a very small working area for pruning and picking since the fruit is picked from the inside - almost impossible to manage the area underneath.
</p>

<p>
	The pergola system is a single plane all overhead canopy in which the female vines are not pruned or thinned all growing season.  This system might work well for fuzzy kiwifruit, but not for most varieties of hardy kiwi which demand more light for fruit quality. The fruit grown on an all-overhead pergola system is so shaded from sunlight it ripens earlier in the season, and will almost always be green. It is harvested at a 6.5 to 7.5 sugar level (Brix), and lacks in both sugars and flavor. Grass and weeds do not grow that well due to the lack of sunlight, but the ground is sprayed once or twice a year with an herbicide.
</p>

<p>
	Our choice was to design an improved T-bar system. We made the aisles wider to allow more sunshine to reach the berries. We increased the height of row posts to 6-1/2', and the width of the T-bars to 8'.  We created a horizontal espalier that is constantly exposed to the sun. Cordons are trained to the left and right of the single vine stalk, and laterals are set at eighteen inches apart.  These alterations provided us more canopy area for the vines, and greater manageability of work space.
</p>

<p>
	We altered standard pruning methods.  The best fruit is produced on the shoulders of the vine, where the lateral canes bend (bower).  Our laterals have a drape of 18 inches over the outside wire, 5 feet from the ground, creating a longer shoulder space which produces a better size and quality fruit. 
</p>

<p>
	Dave calls the difference between our fruit, and that grown on a pergola system, "4 or more" which describes the increased sugar levels (Brix) and flavor points.
</p>

<p>
	The raised beds really fulfill a host of roles in nurturing the vines.  They catch rain or irrigation water and maintain available moisture, but also ward off Phytophthora due to the well-drained soil.
</p>

<p>
	Dave calls them renewable raised beds.
</p>

<p>
	We have an implement on the tractor called a grape hoe, and Dave utilizes it to manage the soil by mulching weed emergence, and to manicure the raised beds. We feed our weeds when we apply fertilizer for the vines. They are then turned under at the right time to take advantage of their nutrient value.
</p>

<p>
	These processes provide higher carbon levels in the soil which, in turn, yields healthier soil and vines. 
</p>

<p>
	Spring frost became a prominent issue annually. To combat this we installed a wind machine to offset damage to young, emerging buds.  This investment has paid for itself as it has saved several annual crops.
</p>

<p>
	Our management program is a continuum from bud break in spring to winter pruning in the fall. There is always something on the "To Do" list: hedging,  cutting away new annual cane that restricts sunlight and ground management,  mowing grass aisles and perimeters, grape hoeing to fine tune the raised beds,  leaf pulling, to remove leaves that are shading the fruit, and fruit thinning if necessary.
</p>

<p>
	It takes a lot of input and care to maintain and promote healthy soil and vines.  We invest nearly double the amount of time, labor, and capital in management expenditures, although we feel it is worth it to produce a better product.
</p>

<p>
	Research is an ongoing activity as we are always seeking to refine of our systems. We are always raising the bar to ensure the production of top notch quality fruit.
</p>

<p>
	We have become artisans of our craft - using innovative best management systems to enhance soil, vine, and fruit health.
</p>
