<h3 class="cn">管理系统</h3>
<p>
	The difference between our berries and anyone else's (besides variety) is that are our trellising and  management systems are designed to produce berries that are grown in the sun, not in the shade.
</p>
<p class="cn">
	除了品种不同以外，我们生产的奇异果和其他地方的不同之处在于，我们的搭架和管理方法使得奇异果生长在阳光下，而不是阴凉的地方。
</p>
<p>
	Grown on our unique improved T-Bar trellis system, our berries receive plenty of sunlight and airflow which provides us with the "true" quality fruit that these vines naturally produce.
</p>
<p class="cn">
	在我们改进的T形架子上生长，我们们的奇异果获得更多的阳光，更好的通风环境，因此我们的蔓藤能够长出质量更好的果实。
</p>
<p>
	Fruit exposed to the sun has higher sugar levels, optimized flavors, greater nutrient value, and is BLUSHED. 
</p>
<p class="cn">
	接受更多阳光的果实有更高的含糖量，提升的口感，以及更加丰富的营养，还有它们是“红色”的。
</p>
<p>
	When Kiwi Korners was developed, the first major consideration was the trellising system.  We researched the two most common types utilized for hardy kiwi which are the conventional T-bar and pergola systems.
</p>
<p class="cn">
	在Kiwi Korners农场发展初期，最主要的考虑就是搭架系统。我们研究了两种搭架的方法，一个是传统的T形架子，另外一个是“pergola”架子。
</p>
<p>
	Through our research we found that hardy kiwi varieties are tested on T-bar systems for their attributes and marketability.  They are then grown commercially on an all overhead pergola system which will yield higher production with the least amount of investment in time, labor, and input.
</p>
<p class="cn">
	我们通过研究发现，在T形架上生长的奇异果比在“pergola”架上生长具有更高的产量和更少的时间，人力物力的投入。
</p>
<p>
	The same variety of hardy kiwi, grown on the two different types of trellis systems, can produce two completely different fruits.  Let's use Anna as an example.  This variety is a "blusher".  If it is grown on an overhead pergola system it will always stay green, never reach it's full flavor potential, or surpass an 18 sugar level (Brix).  Grown on an T-bar system it will be blushed, and have a 21-24 sugar level (Brix), and fully developed flavor. 
</p>
<p class="cn">
	同样品种的耐寒奇异果，在不同的架子上生长，能够结出完全不同的果实。用Anna这个品种举例，这个品种本应该结出红色的果实。如果在架空的pergola架子上生长，果实仍然是绿色，而且达不到最佳口味，含糖量也不会超过18(Brix). 但是在T形架上生长，果实会变成红色，而且含糖量达到21-24，可以达到最佳口味。
</p>
<p>
	The conventional T-bar system is six feet in height with a four to six foot cross-arm.  The canopy, with laterals at eight to twelve inches, is left draped to one foot off of the ground.  This creates what we call the "curtain of diminishing returns" as it produces a lesser quality and size of fruit toward the bottom, and reduces sunlight.  This gives you a very small working area for pruning and picking since the fruit is picked from the inside - almost impossible to manage the area underneath.
</p>
<p class="cn">
	传统的T形架大概6英尺（1.8米）高，以及4到6英尺（1.2到1.8米）宽的横臂。棚顶是间隔6到8英寸（15到20厘米）的横条，悬垂到离地面1英尺（约30厘米）的位置。这种结构我们管它叫做“窗帘收益递减”，因为越接近地面，果实越小，质量越差。同时这种结构给你剪枝和采摘的空间很小，因为果实要从里面采摘－几乎没法管理里面的区域。
</p>
<p>
	The pergola system is a single plane all overhead canopy in which the female vines are not pruned or thinned all growing season.  This system might work well for fuzzy kiwifruit, but not for most varieties of hardy kiwi which demand more light for fruit quality. The fruit grown on an all-overhead pergola system is so shaded from sunlight it ripens earlier in the season, and will almost always be green. It is harvested at a 6.5 to 7.5 sugar level (Brix), and lacks in both sugars and flavor. Grass and weeds do not grow that well due to the lack of sunlight, but the ground is sprayed once or twice a year with an herbicide.
</p>
<p class="cn">
			"pergola"架子是单个全部在头顶的棚子，上面的雌性蔓藤不能在全部生长季期当中修剪和疏果。这种结构可能适合普通带毛品种猕猴桃的生长，但是不适合耐寒奇异果的生长，为了获得好的品质，必须要有足够的阳光。在“pergola“架子上生长的奇异果得不到足够的阳光而且早熟，而且果实一直是绿色。收割的时候含糖量仅在在6.5到7.5(Brix)之间，甜度和口感都不好。棚下面的草由于缺少阳光，生长不够好，但是地面却需要每年喷洒1到2次除草剂。
</p>
<%= link_to image_tag("aisle_row_w_flowers.jpg", alt: "...", :size => "350x240"), "#", :class => "pull-left inserted_left_img" %>
<p>
	Our choice was to design an improved T-bar system. We made the aisles wider to allow more sunshine to reach the berries. We increased the height of row posts to 6-1/2', and the width of the T-bars to 8'.  We created a horizontal espalier that is constantly exposed to the sun. Cordons are trained to the left and right of the single vine stalk, and laterals are set at eighteen inches apart.  These alterations provided us more canopy area for the vines, and greater manageability of work space.
</p>
<p class="cn">
	我们选择设计一种改良的T形架，中间的过道更宽以便接受更多的阳光。我们增加了柱子的高度到6.5英尺（约2米），并且增加了宽度到8英尺（约2.44米）。 我们修建了水平的espalier(横架子？)总是能够接受到阳光照射。单条的蔓藤被引到到左右两边，横条的间隔大约18英寸（0.45米）。这种结构的改变给我们提供了更多的用于蔓藤生长的顶棚面积，同时给我提供更多的维护修剪的空间。(这几段太专业，看不太懂，只是按照字面翻译。。。)
</p>
<p>
	We altered standard pruning methods.  The best fruit is produced on the shoulders of the vine, where the lateral canes bend (bower).  Our laterals have a drape of 18 inches over the outside wire, 5 feet from the ground, creating a longer shoulder space which produces a better size and quality fruit. 
</p>
<p class="cn">
	我们同样改变了标准的剪枝方法。最好的果实总是长在蔓藤的双肩位置，即横条弯曲的位置。我们的横条外部向下悬垂18英寸（0.45米），距离地面约5英尺（约1.5米），创建更长的“肩部”区域，从而产出更多更大，质量更好的果实。
</p>
<p>
	Dave calls the difference between our fruit, and that grown on a pergola system, "4 or more" which describes the increased sugar levels (Brix) and flavor points.
</p>
<p class="cn">
	Dave把我们的果实与其他在“pergola”架子上生长的果实的区别叫做“4或者更多”，因为我们的果实的甜度(Brix指数)要比其他果实高出4个指数以上。
</p>
<p>
	The raised beds really fulfill a host of roles in nurturing the vines.  They catch rain or irrigation water and maintain available moisture, but also ward off Phytophthora due to the well-drained soil.
</p>
<p class="cn">
	抬高的“床”为蔓藤的生长创造了好的条件。这些“床”接受雨水，灌溉，保持适当的湿度，并且排水良好的土壤避免了“疫霉”
</p>
<p>
	Dave calls them renewable raised beds.
</p>
<p class="cn">
	Dave管它们叫做可再生抬高床。
</p>
<p>
	We have an implement on the tractor called a grape hoe, and Dave utilizes it to manage the soil by mulching weed emergence, and to manicure the raised beds. We feed our weeds when we apply fertilizer for the vines. They are then turned under at the right time to take advantage of their nutrient value.
	<%= link_to image_tag("grapehoe.jpg", alt: "...", :size => "350x240"), "#", :class => "pull-right inserted_right_img" %>
</p>
<p class="cn">
	我们在拖拉机上安装了一个叫做葡萄锄的工具，Dave用它来管理长出的草，从而保护土壤，还用它维护“抬高床”，我们在给蔓藤施肥的时候同时也相当于给草施肥，在适当的时候会利用这些草增加营养价值。
</p>
<p>
	These processes provide higher carbon levels in the soil which, in turn, yields healthier soil and vines. 
</p>
<p class="cn">
	这些方法能够提高土壤的含碳量，从而，有利于土壤和蔓藤的健康。
</p>
<p>
	Spring frost became a prominent issue annually. To combat this we installed a wind machine to offset damage to young, emerging buds.  This investment has paid for itself as it has saved several annual crops.
</p>
<p class="cn">
	春季的霜冻是每年都会遇到的一个主要问题。为了应对春季霜冻我们安装了通风机，用来减轻对年幼，新苗的伤害。这项投资会收到回报，因为它能挽救一些生长了数年的作物。
</p>
<p>
	Our management program is a continuum from bud break in spring to winter pruning in the fall. There is always something on the "To Do" list: hedging,  cutting away new annual cane that restricts sunlight and ground management,  mowing grass aisles and perimeters, grape hoeing to fine tune the raised beds,  leaf pulling, to remove leaves that are shading the fruit, and fruit thinning if necessary.
</p>
<p class="cn">
	我们的管理从春天出芽开始一直持续到秋天进行的冬季剪枝。因此总有下一步的事情要做：维护，剪掉每年新长出的妨碍阳光照射的新枝，土壤管理，修剪过道及其周围生长的杂草，用葡萄锄维护抬高床，修叶，把遮住阳光的叶子剪掉，有必要的时候进行疏果（去除过多的果实）
</p>
<p>
	It takes a lot of input and care to maintain and promote healthy soil and vines.  We invest nearly double the amount of time, labor, and capital in management expenditures, although we feel it is worth it to produce a better product.
</p>
<p class="cn">
	为了维护健康的土壤和蔓藤需要付出很多努力。我们付出了双倍的时间，劳动力，以及管理资金，为了生产出更好的产品。
</p>
<p>
	Research is an ongoing activity as we are always seeking to refine of our systems. We are always raising the bar to ensure the production of top notch quality fruit.
</p>
<p class="cn">
	研究还在不断进行，我们不断寻找各种方法改进我们的系统。我们总是为了生产顶级质量的水果不断的抬高标准。
</p>
<p>
	We have become artisans of our craft - using innovative best management systems to enhance soil, vine, and fruit health.
</p>
<p class="cn">
	我们已经成了这个领域的手艺工匠 － 利用创新的管理系统来提高土壤，蔓藤以及水果的品质。
</p>
