<h3 class="cn">营养之源</h3>
<p>
	Our kiwi berries are a nutritional powerhouse. They are the most nutrient dense of all the major fruits, and are an extremely healthy food source.  Containing almost 20 vital nutrients, kiwi berries are considered a super fruit!  They're not just delicious...they're good for you.
</p>
<p class="cn">
	我们的奇异果含有非常丰富的营养。它们的营养密度在主要的水果中是最高的，是极其健康的食品。它们包含了将近20种重要的营养成分，奇异果被认为是超级水果！它们不仅好吃，对你的身体很有好处。
</p>

<p>
	Our non-traditional management systems provide our berries maximum sunshine.  Fruit exposed to the sun contain higher sugar levels (brix), which in turn provides greater nutrient values that include today's sought after antioxidants.
</p>
<p class="cn">
	我们非传统的管理系统是我们的奇异果得到更多日照。获得更多阳光的奇异果含有更多糖分，从而提供更丰富的营养，和更丰富的抗氧化成分。
</p>
<p>
	What is Brix?
</p>
<p class="cn">
	什么是Brix?(含糖指数)
</p>
<p>
	Brix directly relates to the total soluble solids content (SSC) of a the fruit which is determined by the index of refraction. This is measured using a refractometer, and is referred to as the degrees Brix.
</p>
<p class="cn">
	Birx指数直接涉及可溶性总固体（SSC）含量。它利用折射计测定，并被称为Brix指数。
</p>

<p>
	The degrees Brix measurement represents all of the dissolved solids in the sample which includes soluble minerals, carbohydrates (sugars and starches) and other soluble chemicals such as amino acids, enzymes, and so on. 
</p>
<p class="cn">
	Brix指数代表了样本中所有的可溶性物质，其中包括了可溶性矿物质，碳水化合物（糖和淀粉），以及其他可溶性的化学物质，例如氨基酸，酶等等。
</p>
<p>
	The higher the Brix, the better the quality and the more nutritionally dense the produce. Nutrient Dense Foods have very high levels of vitamins, carbohydrates, minerals, enzymes, antioxidants, and trace minerals. Major minerals are abundantly supplied as are trace elements such as selenium, chromium, iodine, and cobalt.  As a result they have the greatest impact on improving health and providing nutrition against disease.
</p>
<p class="cn">
	Brix指数约高，说明奇异果品质越好，营养越丰富。营养丰富的食物含有非常高的维生素，碳水化合物，矿物质，酶，抗氧化成分，还有微量矿物质。奇异果含有丰富的主要矿物质元素，同时还含有丰富的微量元素，比如硒，铬，碘和钴。因此它们对提高身体健康，对抗疾病有很大的影响。
</p>
<h3 class="cn">
	奇异果的营养成分
</h3>

<h4 class="cn">
	抗氧化成分
</h4>
<ul class="cn">
	<li>
		抗氧化成分是身体抵御疾病的第一道防线，它们利用自由基对抗身体损伤。
	</li>
</ul>

<h4 class="cn">维生素C - 5倍于橙子的维生素C含量</h4>
<ul class="cn">
	<li>
		自然免疫- 增强抵抗力，预防流感
	</li>
	<li>
		清除体内杂质, 抗疲劳，抗衰老
	</li>
	<li>
		修复身体损伤，促进细胞生长
	</li>
</ul>

<h4 class="cn">
	维生素E - 两倍于牛油果的维生素E的含量，但只有牛油果60%的热量
</h4>
<ul class="cn">
	<li>
		非常好的来源 - 在低脂肪的食物中很难摄取。
	</li>
	<li>
		帮助降低胆固醇，降低血栓形成几率
	</li>
</ul>

<h4 class="cn">
	维生素A
</h4>
<ul class="cn">
	<li>
		对视力，骨骼发育，牙齿发育，生殖系统，以及皮肤健康极其重要
	</li>
</ul>
<h4 class="cn">
	维生素B6
</h4>

<h4 class="cn">
	维生素B2
</h4>

<h4 class="cn">
	叶酸 - 对女性很重要
</h4>

<h4 class="cn">
	类胡萝卜素
</h4>

<h4 class="cn">
	纤维 － 同时包含可溶性和不可溶性纤维
</h4>

<h4 class="cn">
	...<br/>
	...
</h4>
<h3>
	Some of the healthful benefits KiwiBerries include
</h3>

<h4>
	Antioxidants:
</h4>
<ul>
	<li>
		Are the body's first defense force in fighting disease and they counteract damage to the body by free radicals. 
	</li>
</ul>

<h4>Vitamin C - five times the Vitamin C of an orange</h4>
<ul>
	<li>
		Nature's immune- boosting defense against colds and flu
	</li>
	<li>
		Cleanses the body of impurities, and helps combat the effects of stress and aging
	</li>
	<li>
		Helps repair the body and enhance cell growth
	</li>
</ul>

<h4>
	Vitamin E - twice that of an avocado with only 60% of the calories
</h4>
<ul>
	<li>
		A good source - extremely hard to find in low-fat food sources
	</li>
	<li>
		Helps lower high cholesterol and reduces narrowing of the arteries
	</li>
</ul>
<h4>
	Vitamin A
</h4>
<ul>
	<li>
		Essential in vision, normal bone, tooth development, reproduction, and the health of skin
	</li>
</ul>
<h4>
	Vitamin B6 - equals the amount of a serving of spinach
</h4>
<ul>
	<li>
		Shortage in the American diet - especially in women using oral contraceptives, those who are pregnant or breast feeding as well as some children and older adults.
	</li>
	<li>
		A serving of kiwi has some 4% of USRDA of B6 making it one of the few foods rich in this vitamin
	</li>
	<li>
		Important to the immune system to fight disease
	</li>
	<li>
		Helps maintain a normal blood sugar level
	</li>
</ul> 
<h4>
	Vitamin B2 - the same amount as found in 100% fortified breakfast cereal
</h4>
<ul>
	<li>
		Helps maintain a healthy nervous system and red blood cells
	</li>
</ul>
<h4>
	Folate (Folic Acid) - For Women
</h4>
<ul>
	<li>
		a B vitamin that protects against birth defects, cancer, and heart disease
	</li>
	<li>
		Crucial for women and their babies before and during pregnancy
	</li>
	<li>
		Makes healthy replacement blood and skin cells
	</li>
</ul>

<h4>
	Carotenoids
</h4>
<ul>
	<li>
		KiwiBerries contain carotenoids: carotenes (primarily beta carotene), luteins and xanthophylls.  Diets high in foods containing carotenoids have been linked to a reduced risk of cancer, heart disease, cataracts and macular degeneration. Flavonoids (Higher levels due to KiwiBerries edible skin)
	</li>
	<li>
			Another group of phytochemicals, the phenolic compounds, are found primarily in the skin of KiwiBerries.  These compounds, such as flavonoids, have received much attention because of their antioxidant, antiallergenic, anticancer and anti-inflammatory properties
	</li>

</ul>

<h4>
	Fiber: (both soluble and insoluble)
</h4>
<ul>
	<li>
		Soluble fiber protects against heart disease and diabetes
	</li>
	<li>
		Insoluble fiber reduces the risk of some cancers, constipation, and diverticulitis
	</li>
	<li>
		A good source of dietary fiber, with 4 grams a serving, 16% of the USRDA
	</li>
	<li>
		Helps remove potentially harmful substances from the body
	</li>
</ul>

Cholesterol and Fat:

-Contains no cholesterol and virtually no fat only about 1 gram per serving from the tiny black seeds.

- Helps fight heart disease and high cholesterol

- Great for those on weight-loss programs

 

Minerals:

Potassium - Higher per ounce than bananas

- A single serving outranks bananas as the top low-sodium, high-potassium fruit

- Critical to maintaining the body's fluid and electrolyte balance

- Assists in the reduction of hypertension and high blood pressure

Magnesium

- Important for bone formation, heart rhythm regulation, muscle relaxation, and nerve function

- Activates enzymes that metabolize food components to form protein and release energy

Manganese

- An essential to the enzymes involved in our use of protein and food energy, and also in the marketing of body chemicals needed to protect both our respiratory and digestive tracts.

Copper - For Kids

- Vital for infant growth, bone strength, brain development, and building immunity

- A mineral involved in making red blood cells and needed for normal bone formation.

Calcium

- Essential for normal growth and maintenance of bones and teeth

- Kiwi Berries are a source of calcium without the additional fat of dairy products

Iron

- Needed for oxygen-based metabolism

- Small amounts can be meaningful for those with problems of iron-deficiency anemia

Phosphorus

- A component of DNA and RNA and an essential element for all living cells

Selenium

- An essential trace element

- May help prevent cancer by acting as an antioxidant or by enhancing immune activity

Chromium

- A key factor both in regulating the heartbeat and the body's use of carbohydrates, like sugars and starches, which are our bodies main source of energy

Zinc - For Men

- Important for young boys and men - an ingredient needed to make the hormone testosterone

- Necessary for healthy hair, nails, eyes, and skin

Sodium

- Kiwi is low in sodium and contains no cholesterol and virtually no fat only about 1 gram per serving from the tiny black seeds.

 - Sodium has been identified as having a dietary effect on blood pressure. Fortunately, there is so little sodium in kiwifruit that it can be labeled as zero.