<h3 class="cn">认证</h3>
<p>
	Kiwi Korners is certified organic by Pennsylvania Certified Organic located at 106 School Street, Suite 201, Spring Mills, PA 16875. PCO contact information is:  Phone:  814-422-0251,  Fax: 814-422-0255, Email: pco@paorganic.org. 
</p>
<p class="cn">
	Kiwi Korners农场	通过了宾夕法尼亚州的有机认证，认证机构地址是：106号 School Street, Suite 201, Spring Mills市, 宾州。联系方式：电话：814-422-0251，传真：814-422-0255，邮件：pco@paorganic.org
</p>
<p>
	We received our initial organic certification for Hardy Kiwi (Actinidia Arguta) from PCO in November 2001. Our operation was first certified under the USDA's National Organic Program 10/21/2002. Please see our Organic Product Verification and Organic Certificate (# 120-01) below. 
</p>
<p class="cn">
	我们初次得到该机构的认证是在2001年11月，认证的品种是耐寒奇异果(软枣猕猴桃)(Actinidia Arguta)，之后我们在2002年10月21号获得了美国农业部(USDA)的关于有机项目国家认证。
</p>

