<p>
	Kiwi Korners is certified organic by Pennsylvania Certified Organic located at 106 School Street, Suite 201, Spring Mills, PA 16875. PCO contact information is:  Phone:  814-422-0251,  Fax: 814-422-0255, Email: pco@paorganic.org. 
</p>

<p>
	We received our initial organic certification for Hardy Kiwi (Actinidia Arguta) from PCO in November 2001. Our operation was first certified under the USDA's National Organic Program 10/21/2002. Please see our Organic Product Verification and Organic Certificate (# 120-01) below. 
</p>

<p>
	You can download a .PDF file of our Product Verification by clicking this link.
</p>
