<h3 class="cn">我们的分享，足迹</h3>
<h4 class="cn">演讲</h4>
<p>
	2009 - November 10:  School Nutrition Association of PA, Region II, Chapter 24, Mifflinburg High School – PowerPoint Presentation
</p>
<p class="cn">
	2009年 － 11月10日：学校营养协会
</p>
<p>
	2009 – January 17:  Back Yard Fruit Growers, Lancaster, PA  “Hardy Kiwi – PA’s Best Kept Agricultural Secret” – PowerPoint Presentation
</p>

<p>
	2006 – August 15-17:  Sustainable Agriculture Research & Education (SARE) National Conference “A Midwest Homecoming: Sharing a New Tradition of Sustainability” Oconomowoc, Wisconsin – Presentation:  “The Pros and Cons of Hardy Kiwi, Growing and Commercialization, and Panel: “Uncommon Fruits with Market Place Potential”
</p>

<p>
	2004 - October 19 - 21: Sustainable Agriculture Research & Education (SARE) National Conference, Burlington, Vermont – Farmer/Grower Grant Presenter/Exhibitor - “Hardy Kiwi Pollination and Production”
</p>

<p>
	2000 – January 26 - 28:  Fruit & Vegetable Growers Conference, Hershey, PA - “Pennsylvania Hardy Kiwi Development & Marketing” - PowerPoint Presentation and Conference Proceedings
</p>

<p>
	1996 – October 4: Growing Hardy Kiwi Seminar, Niagara-on-the-Lake, Ontario, Canada – Sponsored by the Ontario Ministry of Agriculture, Food & Rural Affairs - Presentation: “Commercial Kiwi Production in Pennsylvania”
</p>

<h4 class="cn">研讨会</h4>
<p>
	2007 – October 25:  International Extension Small Fruit Specialists Tour Host: Kathy Demchak/Penn State University Farm Tour & PowerPoint Presentation  
</p>

<p>
	2006 – August 24:  Pennsylvania Association Sustainable Agriculture (PASA) Farm Based Education Program - “Organic KiwiBerry Production” – Farm Tour & PowerPoint Presentation
</p>

<p>
	2006 - July 31: Northumberland County Conservation District "YAK" youth group - Kiwi Korners Farm Tour  
</p>

<p>
	2001 - July 9: Northumberland County Ag Tour - Kiwi Korners Farm Tour
</p>

<p>
	1999 – September 18: Cornell University Satellite Tour via Penn State University – Marvin Pritts
</p>

<p>
	1996 – June 28: Soil Health Renewability Seminar sponsored by the Pocono NE Resource Conservation & Development Council and Bloomsburg University at Kiwi Korners – Farm Tour & Fruit Products
</p>
<p>
	1995 – May 5: Cornell University Small Fruit Workers Summer Tour – Marvin Pritts

Prospective growers from the United States, Canada, and Chile
</p>

<h4 class="cn">电视媒体</h4>
<p>
	2009 - September  - CCN "In Your Neighborhood" with Jennifer Wakeman
</p>

<p>
	2007 – June:  WNEP Channel 16 – Home and Backyard Show – Mike Stevens on the Road at Kiwi Korners
</p>

<p>
	1996 – October 15:  “Who’s the Chef” TV Show - Penn College of Technology – Chef Paul Mach

</p>
