	
<p>
	Our Kiwi Berries are available in ½ dry pint  (6oz/170 grams) clamshells.  There are 12 clamshells per flat, and 156 flats per pallet.
</p>
<p>
	Pre-ordering Passion Poppers is advised.
</p>

<p>
	2014 Availability Dates:  
</p>

<p>
	Start: Estimated the Second Week of September  
</p>

<p>
	Peak:  More Specific dates will be listed before 2014 Harvest 
</p>
     
<p>
	End:   Last week of September 
</p>
    
<p>
	Our containers are recyclable
</p>
