	
<h3 class="cn">供应和包装</h3>
<p>
	Our Kiwi Berries are available in ½ dry pint  (6oz/170 grams) clamshells.  There are 12 clamshells per flat, and 156 flats per pallet.
</p>
<p class="cn">
	我们的奇异果包装每份1/2品脱（约6盎司/170克）, 12盒一打，156打为一板的大包装
</p>
<p>
	Pre-ordering Passion Poppers is advised.
</p>
<p class="cn">建议提前订购</p>

<p>
	2014 Availability Dates:  
</p>
<p class="cn">2014年发售日期</p>

<p>
	Start: Estimated the Second Week of September  
</p>
<p class="cn">
	开始: 大约9月份的第二个礼拜
</p>
<p>
	Peak:  More Specific dates will be listed before 2014 Harvest 
</p>
<p class="cn">丰产期：2014年具体采摘日期即将列出</p>
     
<p>
	End:   Last week of September 
</p>
<p class="cn">
	结束：9月份最后一个礼拜
</p>
<p>
	Our containers are recyclable
</p>
<p class="cn">我们的包装可回收</p>
