<h1>Passion Poppers & Kandi Kiwi</h1>
<p>
	These are the Winners of our fourteen year breeding and trial program.
</p>

<p>
	With an apple like blush in appearance, they are unequaled in taste with blended flavors of super sweet kiwi, exotic melon, and a cotton candy finish.
</p>

<p>
	"They're superb"   (Photo & Comment by David Karp "The Fruit Detective")
</p>


 <p>
 	These berries have the highest sugar levels on record with an average of 28.25% Brix.  (Certified by Penn State University Dept. of Horticulture - Foolad Labs, University Park, PA in 2009).  Read more about Brix.
 </p>

 <p>
 	Kandy Kiwi is a new, later maturing version of our Passion Popper and will be available Fall 2014.
 </p>

<p>
	These are the world's sweetest, most flavorful, and most nutritious kiwi. These rare, unique berries are proprietary to Kiwi Berry Organics Co.
</p>


 
<h2>
	Consumer Comment
</h2>

<p>
	A colleague was kind to share her delightful Passion Poppers and now I want to order these for 2013.  They were fantastic and I know they would get eaten by our household.  Pls. put me on your notification list.
</p>
