<h3 class="cn">Passion Poppers (激情波佩斯) & Kandi Kiwi (康迪)</h3>
	<%= link_to image_tag("karp_poppers_web.jpg", alt: "Passion Poppers", :size => "250x175"), "#", :class=>"pull-right"%> <br/>
<p>
	These are the Winners of our fourteen year breeding and trial program.
</p>
<p class="cn">
	这两个品种是我们经过14年的育种实验之后的胜出者
</p>

<p>
	With an apple like blush in appearance, they are unequaled in taste with blended flavors of super sweet kiwi, exotic melon, and a cotton candy finish.
</p>
<p class="cn">
	有着苹果一样的红色外表，他们的口感独特，混合了超甜猕猴桃，异域甜瓜，还有棉花糖的味道。
</p>

 <p>
 	These berries have the highest sugar levels on record with an average of 28.25% Brix.  (Certified by Penn State University Dept. of Horticulture - Foolad Labs, University Park, PA in 2009).  Read more about Brix.
 </p>
<p class="cn">
	这两个品种含糖量最高，达到28.25%的Brix指数(此结果经过宾夕法尼亚大学园艺学实验室的认证，2009)。
</p>
 <p>
 	Kandy Kiwi is a new, later maturing version of our Passion Popper and will be available Fall 2014.
 </p>
<p class="cn">
	和激情波佩斯相比，康迪是一个晚熟的新品种，即将在2014年秋季上市。
</p>
<p>
	These are the world's sweetest, most flavorful, and most nutritious kiwi. These rare, unique berries are proprietary to Kiwi Berry Organics Co.
</p>

<p class="cn">
	他们是世界上最甜的，口味最好，营养价值最丰富的奇异果。这些少见，独特的奇异果是我们公司专有的。
</p>
 
