<h3 class="cn">
	催熟，保存，食用方法
</h3>
<p>
	Kiwiberries should be allowed to ripen at room temperature. Their skin will turn darker green, become slightly wrinkled, and they will yield to gentle pressure when ready to eat.  The photo bar above shows the visual difference.
</p>
<p class="cn">
	奇异果应该在室温下使其完全成熟。它们的表皮将变成深绿，微微发皱，摸起来微微发软。
</p>

<p>
	You can hasten the ripening process by placing the berries in a paper bag at room temperature.  Refrigerate softened fruit for best storage life, up to two weeks, and let it return to room temperature before eating or using it in recipes.
</p>

<p class="cn">
	你可以加快成熟的速度，把它们放进纸袋，放置在室温环境下。如果冷藏保存可以使保存期最多延长两个星期，当你要食用的时候再把它们放置在室温下。
</p>
<p>
	Don't try this process with conventionally grown kiwiberries...  most fruit is picked too early, ripened with ethylene, and will only store for a short period of time before it becomes watery.
</p>
<p class="cn">
	这种方法不适用于普通的奇异果。。。 它们当中的大多数采摘时间过早，然后用乙烯催熟，而且在变的不好吃之前只能保存很短一段时间。
</p>
<p>
	With their smooth skin, they're sensational for out-of-hand eating. They are perfect for snacks, or a healthy addition to a lunch box containing almost 20 vital nutrients.  They're not just delicious...they're good for you.  Read more about Nutrition. 
</p>
<p class="cn">
	由于它们表皮光滑，特别适合当零食吃，或者适合放在午饭饭盒当中，含有将近20种重要的营养物质，让你的午饭更健康。它们不仅好吃，而且对你的身体有好处。想了解更多请访问营养页面。
</p>
<p>
	Kiwi Berries are very versatile when it comes to culinary creations too.  Add them to your favorite recipes. They can be used as an ingredient - not just a garnish.
</p>
<p class="cn">
	奇异果适合各种美食烹饪，你可以把它们加入到你的食谱配方当中，它们可以作为配料，而不只是装饰。
</p>
<p>
	We have processed fresh berries in a Squeezo and have made what we call "puree" (pure fruit pulp) that gives the fruit even more latitude for experimentation.   We store the puree in zip lock bags for up to a year.
</p>
<p class="cn">
	我们把新鲜的奇异果通过Squeezo处理，变成果肉原浆，这样可以使它们用途更广泛。我们把原浆放在密封袋中保存，保质期长达一年。
</p>
<p>
	We have found many uses for our fruit and puree through our own experimentation, and that of our culinary friends, some of which are salad dressings, vinegars, salsas, marinades (it's an excellent natural meat tenderizer), appetizers, sauces for entrees, ice cream, sherbet, yogurt, sorbet.  Kiwi pairs well with orange, honey, and chocolate. We have also created beverages from non-alcoholic spritzers and health food drinks to wines, meads, and beers.
</p>
<p class="cn">
	我们发现了很多利用奇异果和原浆的做法，也发现了很多搭配方法，可以用在沙拉酱，醋，调味汁，腌泡汁，开胃菜，开胃菜的酱汁，冰淇凌，冰糕，酸奶，果汁冰糕当中。奇异果和甜橙，蜂蜜，巧克力可以完美搭配。我们同时还开发了不含酒精的饮料，比葡萄酒，蜂蜜酒和啤酒更健康。
</p>
<p>
	The uses are limited only by one's imagination...have fun and enjoy! 
</p>
<p class="cn">
	放开你的想像力去尝试，享受美味！
</p>

 